
.btn {
    width: 95%;
    height: 6vh;
    background-color: #EA1D2C;
    border-radius: 8px;
}
.btn>p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}