.assignment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.assignment * {
  margin: 1vh 0;
}

.assignment .div-btn-assignment {
  background-color: #ea1d2c;
  margin-top: 5vh;
  border: none;
  cursor: pointer;
  height: 7vh;
  width: 20vh;
}
.assignment .div-btn-assignment p {
  color: #fff;
  font-weight: bold;
}

.assignment .div-btn-assignment:hover {
  background-color: #fff;
  border: 2px solid #ea1d2c;
}
.assignment .div-btn-assignment:hover p {
  color: #ea1d2c;
}

.assignment img {
  width: 100%;
  height: 45%;
  margin: 4vh 0;
}
