* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  min-height: 100vh;
  background-color: #282727;
}
#root {
  background-color: #fff;
  width: 414px;
  min-height: 100vh;
}
.container-top {
  position: fixed;
  top: 0%;
  height: 5vh;
  width: 100%;
  z-index: 1;
  background-color: #282727;
}
@media (max-width: 414.98px) {
  html {
    background-color: transparent;
  }
  body {
    width: 100vw;
  }
  .container-modal {
    width: 100vw;
  }
  .app-header {
    width: 100% !important;
  }
  .orders h1 {
    width: 100vw;
  }
}
